#ft-principal
{
    background: $colorDestaque;
    padding: 50px 0 20px;

    @include breakpoint($allCelular)
    {
        padding-top: 0;
    }

    * 
    {
        color: $secondaryColor;
    }

    .fa 
    {
        font-size: $fontSizeBase * 1.6;
        margin-right: 20px;
    }
    
    .fa-map-marker,
    .fa-phone
    {
        font-size: $fontSizeBase * 2.5;
    }

    .ss-footer-box
    {
        //@include make-sm-column(4);
        //@include make-md-column(4);
        //@include make-lg-column(4);
        padding: 0 15px;
        width: 33.3333%;
        float: right;
        position: relative;
        padding-top: 100px;
    
        @include breakpoint($allCelular)
        {
            width: 90%;
            float: none;
            padding: 20px 0;
            margin: 0 auto;
            overflow: hidden;
        } 

        header 
        {
            padding: 20px 0;
            margin-top: -68px;
    
            @include breakpoint($allCelular)
            {
                margin-top: 0;
            }

            h4 
            {
                font-family: $secondaryFont;
                font-size: $fontSizeBase * 2.4;
                line-height: 1.2em;
                margin: 0;
                padding: 0;

                @include breakpoint(max-width ($largeDesktop - 1)){
                    font-size: $fontSizeBase * 2.1;
                }  

            }
        }
    }
    
    .lista-info
    {
        text-align: left;
        margin: 0;
        padding: 0;
        
        li 
        {
            line-height: 1.8em;
            float: none;
            text-align: left;
            list-style: none;
            margin-bottom: 20px;
        }
    }
    
    .img-ft 
    {
        position: absolute;
        top: 0;
    
        @include breakpoint($allCelular)
        {
            position: relative;
            margin-bottom: 30px;
        }

    }
    
    //Formulario
    
    .form-footer 
    {
        margin: 0;
        padding: 0;
        position: relative;
        
        label
        {
            display: block;
            margin-bottom: 20px;
    
            p 
            {
                color: $secondaryColor;
                font-family: $secondaryFont;
                font-weight: $fontWeightSemiBold;
                font-size: $fontSizeBase * 1.6;
                line-height: 1.2em;
                margin: 0 0 5px 0;
                padding: 0;
            }
    
            .input 
            {
                border: 0 none;
                font-family: $primaryFont;
                font-size: $fontSizeBase * 1.4;
                outline: none;
                padding: 8px 10px;
                width: 100%;
            }
    
        }
    
    }
    
    .sub-footer 
    {
        clear: both;
        margin: 0 15px;
        padding-top: 50px;
        position: relative;
    
        &::before 
        {
            content: "";
            background: $secondaryColor;
            width: 100%;
            height: 1px;
            position: absolute;
            top: 40px;
            left: 0;
        }
    
        p
        {
            color: $colorFooter;
            font-size: $fontSizeBase * 1.4;
            margin: 0;
            //letter-spacing: 1px;
        }
    
        .ss-left 
        {
            float: left;
        }
    
        .ss-right
        {
            float: right;
            text-align: right;
            p 
            {
                font-size: $fontSizeBase * 1.2;
            }
        }
    
    }

}