*
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

// body, html, .ss-wrapper, main, .ss-slider-home 
// {
//     height: 100%;
// }

body 
{
    color: $primaryColor;
    font-family: $primaryFont;
    font-size: $fontSizeBase * 1.6;
    font-weight: $fontWeightNormal;
}

img 
{
    display: inline-block; 
    margin-bottom: 0;
}

a,
a:hover,
a:focus 
{
    text-decoration: none;
}

p  
{
    font-size: $fontSizeBase * 1.6;
    font-weight: $fontWeightNormal;
    line-height: 1.7em;
    margin: 0 0 25px 0;

    @include breakpoint(max-width ($largeDesktop - 1))
    {
        font-size: $fontSizeBase * 1.5;
        line-height: 1.6em;
    }     
}

main 
{
    @include breakpoint($allCelular)
    {
        padding-top: 144px;
    }        
}

//Classes em Geral

    .btn 
    {
        border: 3px solid transparent;
        color: $colorDestaque;
        display: inline-block;
        font-family: $secondaryFont;
        font-size: $fontSizeBase * 2.3;
        font-weight: $fontWeightSemiBold;
        line-height: 1em;
        padding: 10px 50px;
        text-align: center;
        margin: 0 auto;
        outline: none;
        transition: $transitionAll;

        @include breakpoint(max-width ($largeDesktop - 1))
        {
            font-size: $fontSizeBase * 1.8;
        }   

        &.btn-no-bg 
        {
            border: 3px solid $colorDestaque;
            font-size: $fontSizeBase * 1.8;
            margin-top: 20px;

            @include breakpoint(max-width ($largeDesktop - 1))
            {
                font-size: $fontSizeBase * 1.6;
            }  

            &:hover,
            &:focus 
            {
                background: $colorDestaque;
                color: $secondaryColor;
            }

        }

        &.btn-bg 
        {
            background: $colorDestaque;
            color: $secondaryColor;

            &:hover,
            &:focus 
            {
                background: $primaryColor;
                color: $secondaryColor;
            }

        }

        &.btn-submit
        {
            background: $primaryColor;
            color: $secondaryColor;
            font-size: $fontSizeBase * 1.6;
            float: right;
            padding: 10px 20px;
        }

    }

    .left 
    {
        float: left;
    }

    .right
    {
        float: right;
    } 

//Classes Internas

    .sessao 
    {
        position: relative;
        padding: 30px 0;
        overflow: hidden;

        @include breakpoint(max-width ($largeDesktop - 1))
        {
            padding: 15px 0;
        }

        @include breakpoint($allCelular)
        {
            padding: 0 0 30px;
        }        

        &.no-pd
        {
            padding: 0;
        }

    }

    .ss-header
    {
        padding: 30px 0 50px;
        text-align: center;
        position: relative;

        @include breakpoint($allCelular)
        {
            padding: 30px 0 20px;
        } 

        h2 
        {
            font-family: $secondaryFont;
            font-weight: $fontWeightSemiBold;
            font-size: $fontSizeBase * 3;
            line-height: 1.8em;
            margin: 0;
            padding: 0;
            position: relative;

            @include breakpoint(max-width ($largeDesktop - 1))
            {
                font-size: $fontSizeBase * 2.6;
                //line-height: 1.7em;
            }  

            &::after 
            {
                content: "";
                background: $colorDestaque;
                width: 100px;
                height: 4px;
                margin: 0 auto;
                position: absolute;
                left: 50%;
                bottom: 0;
                margin-left: -50px;
            }

        }     

    }

    .ss-center 
    {
        text-align: center;
    }

    .ss-ct
    {
        @include make-row();
    }

    .ss-box 
    {
        img 
        {
            max-width: 100%;
        }
    }

    .lista-itens 
    {
        margin: 0;
        padding: 0;
        overflow: hidden;

        li 
        {
            //float: left;
            margin: 30px 1%;
            list-style: none;
        
            //centralizando verticalmente
            height: 100px; //adicionar um height
            //display: flex;
            display: inline-block;
            align-items: center;
            justify-content: center; 
            //width: 18%;
            
            @include breakpoint(max-width ($largeDesktop - 1))
            {
                margin: 10px 1%;
            }            

            @include breakpoint(max-width $allDesktop)
            {
                //width: 23%;
            }

            @include breakpoint($allCelular)
            {
                //width: 31.3333%;
            }   
            
            @include breakpoint($smallCelular)
            {
                //width: 48%;
            }               

        }

    }