*
{
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;    
}

body 
{
    color: $primaryColor;
    font-family: $primaryFont;
    font-size: $fontSizeBase * 1.6;
    font-weight: $fontWeightNormal;
}

img 
{
    display: inline-block; 
    margin-bottom: 0;
}

a,
a:hover,
a:focus 
{
    text-decoration: none;
}

p  
{
    font-size: $fontSizeBase * 1.6;
    font-weight: $fontWeightNormal;
    line-height: 1.7em;
    margin: 0 0 25px 0;
}

//Classes em Geral

    .btn 
    {
        border: 3px solid transparent;
        color: $colorDestaque;
        display: inline-block;
        font-family: $secondaryFont;
        font-size: $fontSizeBase * 2.3;
        font-weight: $fontWeightSemiBold;
        line-height: 1em;
        padding: 10px 50px;
        text-align: center;
        margin: 0 auto;
        outline: none;
        transition: $transitionAll;

        &.btn-no-bg 
        {
            border: 3px solid $colorDestaque;
            font-size: $fontSizeBase * 1.8;

            &:hover,
            &:focus 
            {
                background: $colorDestaque;
                color: $secondaryColor;
            }

        }

        &.btn-bg 
        {
            background: $colorDestaque;
            color: $secondaryColor;

            &:hover,
            &:focus 
            {
                background: $primaryColor;
                color: $secondaryColor;
            }

        }

        &.btn-submit
        {
            background: $primaryColor;
            color: $secondaryColor;
            font-size: $fontSizeBase * 1.6;
            float: right;
            padding: 10px 20px;
        }

    }

    .left 
    {
        float: left;
    }

    .right
    {
        float: right;
    } 

//Classes Internas

    .sessao 
    {
        position: relative;
        padding: 30px 0;
        overflow: hidden;

        &.no-pd
        {
            padding: 0;
        }

    }

    .ss-header
    {
        padding: 30px 0 50px;
        text-align: center;
        position: relative;

        h2 
        {
            font-family: $secondaryFont;
            font-weight: $fontWeightSemiBold;
            font-size: $fontSizeBase * 3;
            line-height: 1.8em;
            margin: 0;
            padding: 0;
            position: relative;

            &::after 
            {
                content: "";
                background: $colorDestaque;
                width: 100px;
                height: 4px;
                margin: 0 auto;
                position: absolute;
                left: 50%;
                bottom: 0;
                margin-left: -50px;
            }

        }     

    }

    .ss-center 
    {
        text-align: center;
    }

    .ss-ct
    {
        @include make-row();
    }

    .ss-box 
    {
        img 
        {
            max-width: 100%;
        }
    }

    .lista-itens 
    {
        margin: 0;
        padding: 0;
        overflow: hidden;

        li 
        {
            float: left;
            margin: 30px;
            list-style: none;
        
            //centralizando verticalmente
            height: 100px; //adicionar um height
            display: flex;
            align-items: center;
            justify-content: center;        
        }

    }