#hd-principal
{
    background: $secondaryColor;
    @include breakpoint($allCelular)
    {
        position: fixed;
        width: 100%;
        z-index: 999;
    }     
}

.hd-tp 
{
    background: $colorDestaque;
    width: 100%;
    padding: 8px 0;

    *
    {
        color: $secondaryColor;
    }

    i 
    {
        margin-right: 5px;
    }

    .fa-facebook-official 
    {
        font-size: $fontSizeBase * 2;
    }

    p 
    {
        font-family: $secondaryFont;
        font-weight: $fontWeightSemiBold;
        line-height: 1em;
        margin: 0;
    }

}

.hd-md
{
    border-bottom: 1px solid $primaryColor;
    padding: 30px 0;
    position: relative;

    @include breakpoint($allCelular)
    {
        border-bottom: 0 none;
    } 

    a 
    {
        display: block;
    }

    .logo 
    {
        width: 195px;

        @include breakpoint(max-width ($largeDesktop - 1))
        {
            width: 160px;
        }

        @include breakpoint($allCelular)
        {
            width: 135px;
        }            
    }

    .box-info-contato
    {
        width: 200px;
        @include breakpoint($celular)
        {
            padding-top: 10px;
        } 

        @include breakpoint($allCelular)
        {
            width: auto;
        }         

        .fa-phone 
        {
            font-size: $fontSizeBase * 6;
            float: left;
            margin-right: 15px;

            @include breakpoint($allCelular)
            {
                font-size: $fontSizeBase * 4.5;
                margin: 2px 0 0;
            } 
        }

        h4 
        {
            font-family: $secondaryFont;
            font-size: $fontSizeBase * 1.6;
            margin: 0;
            padding: 0;
        }

        h3 
        {
            font-family: $secondaryFont;
            font-size: $fontSizeBase * 2.5;
            margin: 0;
            padding: 0;
        }

    }

    #menu-mobile
    {
        position: relative;
        float: right;
        padding: 0;
        margin: 11px 0;
        background-color: transparent;
        background-image: none;
        border: 0 none;
        border-radius: 0;      
        outline: none; 
        
        .icon-bar 
        {
            background-color: $colorIconMobile;
            display: block;
            width: 36px;
            height: 6px;       

            &+.icon-bar
            {
                margin-top: 4px;
            }

        }

        @include breakpoint($celular)
        {
            display: none;
        }         
    }

    //Mobile

    .left 
    {
        @include breakpoint($allCelular)
        {
            float: none;
            position: absolute;
            top: 25px;
            left: 50%;
            margin-left: -68px;
        }           
    }   
    
    .right 
    {
        @include breakpoint($allCelular)
        {
            float: left;
        }
        .hgroup
        {
            @include breakpoint($allCelular)
            {
                display: none;
            }
        }
    }

}

.hd-ft
{
    //border-top: 1px solid $primaryColor;
    position: relative;
    overflow: hidden;

    &::before 
    {
        content: "";
        background: $colorIconMobile;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
    }

    nav 
    {
        float: left;
        margin: 0 -45px;

        //Acima de 767px o menu do celular não aparecerá
        &.nav-mobile
        {
            margin: 0; 
            height: 0;     
            width: 100%;  

            @include breakpoint($celular)
            {
                display: none;
            }    
            
            ul 
            {
                padding-top: 5px;
            }
        }

        //Abaixo de 767px o menu desktop não aparecerá 
        &.nav-desktop
        {
            @include breakpoint($allCelular)
            {
                display: none;
            }            
        }
        
        ul 
        {
            overflow: hidden;
            margin: 0;
            padding: 0;
        }

        li 
        {
            float: left;
            margin: 0 30px;
            list-style: none;
            @include breakpoint($allCelular)
            {
                float: none;
                margin: 0;
            } 
        }

        a 
        {
            color: $primaryColor;
            display: block;
            font-family: $secondaryFont;
            font-size: $fontSizeBase * 1.8;
            font-weight: $fontWeightSemiBold;
            line-height: 1.2em;
            padding: 15px;
            transition: $transitionAll;

            @include breakpoint(max-width ($largeDesktop - 1))
            {
                font-size: $fontSizeBase * 1.7;
            }    
        
            @include breakpoint($allCelular)
            {
                font-size: $fontSizeBase * 1.6;
                line-height: 1em;
                padding: 10px 0;
            } 

            &:hover,
            &:focus,
            &.active 
            {
                color: $colorDestaque;
            }

        }        

    }

    .box-busca
    {
        @include breakpoint($allCelular)
        {
            display: none;
        }         
    }
    
}