// Sessão Serviços 

    .ss-servicos-box 
    {
        @include make-lg-column(6);
    }

    .lista-servicos
    {
        overflow: hidden;
        width: 100%;
        margin: 0 -15px;
        padding: 0;
        list-style: none;

        li 
        {
            float: left;
            margin: 0 2.5% 30px;
            padding: 0;
            width: 45%;

            img 
            {
                max-width: 100%;
            }

        }

    }

    .ss-destaque
    {
        margin: 0;
        padding: 50px 0;
    }

    .ss-destaque-servicos
    {
        background: url("../imgs/bg-destaque-servicos.jpg") no-repeat center center;
    }

    .ss-destaque-servico
    {
        @include make-lg-column(3);
        margin-bottom: 15px;

        header 
        {
            padding: 0 0 10px 0;
        }

        h3 
        {
            font-family: $secondaryFont;
            font-size: $fontSizeBase * 2.3;
            line-height: 1.5em;
            margin: 0;
            padding: 0;
        }

    }

//Sessão Últimos Trabalhos

    .ss-trabalho-box
    {
        @include make-lg-column(3);
        padding: 0;
        margin-bottom: 30px;
    }

    .ss-trabalhos-ct
    {
        padding: 20px 0 0;
    }

//Sessão Nossos Clientes

    .ss-destaque-clientes
    {
        background: url("../imgs/bg-nossos-clientes.jpg") no-repeat center center;
        margin: 10px 0;
    }

    .lista-clientes,
    .lista-parceiros 
    {
        img 
        {
            max-width: 170px;
        }
    }

//Sessão Nossos Parceiros

    .ss-nossos-parceiros 
    {
        padding-bottom: 60px;
    }