// Sessão Serviços 

    .ss-servicos-box 
    {
        @include make-sm-column(6);
        @include make-md-column(6);
        @include make-lg-column(6);
        @include breakpoint(max-width ($allDesktop - 1))
        {
            text-align: justify;
        }
        @include breakpoint($smallCelular)
        {
            text-align: center;
        }           
    }

    .lista-servicos
    {
        overflow: hidden;
        width: 100%;
        margin: 0 -15px;
        padding: 0;
        list-style: none;

        @include breakpoint(max-width ($largeDesktop - 1))
        {
            margin: 0 auto;
        } 

        li 
        {
            float: left;
            margin: 0 2.5% 25px;
            padding: 0;
            width: 45%;
            text-align: center;

            @include breakpoint(max-width $allDesktop)
            {
                margin-bottom: 20px;
            }

            @include breakpoint($smallCelular)
            {
                margin-bottom: 15px;
            }           

            img 
            {
                max-width: 100%;                
            }
        }

    }

    .ss-destaque
    {
        margin: 0;
        padding: 50px 0;

        @include breakpoint(max-width ($largeDesktop - 1))
        {
            padding: 30px 0;
        } 
    }

    .ss-destaque-servicos
    {
        background: url("../imgs/bg-destaque-servicos.jpg") no-repeat top center;
        @include breakpoint($allCelular)
        {
            background-size: cover;
        } 

    }

    .ss-destaque-servico
    {
        @include make-sm-column(6);
        @include make-md-column(3);        
        @include make-lg-column(3);
        margin-bottom: 15px;

        @include breakpoint($allCelular)
        {
            margin-bottom: 40px;
            padding: 0 40px;
        } 

        header 
        {
            padding: 0 0 10px 0;

            img 
            {
                @include breakpoint(max-width ($largeDesktop - 1)){
                    width: 95px;
                }                        
            }

        }

        h3 
        {
            font-family: $secondaryFont;
            font-size: $fontSizeBase * 2.3;
            line-height: 1.5em;
            margin: 0;
            padding: 0;

            @include breakpoint(max-width ($largeDesktop - 1))
            {
                font-size: $fontSizeBase * 1.8;
            }

            @include breakpoint($allCelular)
            {
                font-size: $fontSizeBase * 2.3;
            }

        }

    }

//Sessão Últimos Trabalhos

    .ss-trabalho-box
    {
        @include make-sm-column(3);
        @include make-md-column(3);
        @include make-lg-column(3);
        padding: 0;
        margin-bottom: 5px;
    }

    .ss-trabalhos-ct
    {
        padding: 20px 0 0;
        @include breakpoint($allCelular)
        {
            padding-top: 10px;
        }        
    }

//Sessão Nossos Clientes

    .ss-destaque-clientes
    {
        background: url("../imgs/bg-nossos-clientes.jpg") repeat top center;
        margin: 10px 0;
    }

    .lista-clientes,
    .lista-parceiros 
    {
        img 
        {
            //max-width: 170px;
            max-width: 100%;
            @include breakpoint($allCelular)
            {
                width: 130px;
            } 
        }
    }

//Sessão Nossos Parceiros

    .ss-nossos-parceiros 
    {
        padding-bottom: 60px;
    }