.hd-internas
{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center; 

    h2 
    {
        color: $colorDestaque;
        font-family: $secondaryFont;
        font-size: $fontSizeBase * 3;
        font-weight: $fontWeightSemiBold;
        line-height: 1.5em;
        margin: 0;
        padding: 0;
    }

}

.ss-internas
{
    padding-bottom: 0;

    .ss-header 
    {
        text-align: left;
        padding: 40px 0 30px;

        h2 
        {
            &::after 
            {
                left: 0;
                margin-left: 0;
            }
        }

        h3 
        {
            font-family: $secondaryFont;
            font-weight: $fontWeightSemiBold;
            font-size: $fontSizeBase * 2.4;
            line-height: 1.8em;
            margin: 0;
            padding: 0;
            position: relative;

            &::after 
            {
                content: "";
                background: $colorDestaque;
                width: 100px;
                height: 4px;
                margin: 0 auto;
                position: absolute;
                left: 0;
                bottom: 0;
                margin-left: 0;
            }

        }           

    }

    .ss-box-ct 
    {
        @include make-lg-column(6);

        img 
        {
            max-width: 100%;
        }

    }

    &.ss-destaque 
    {
        margin: 30px 0 0;
        padding-bottom: 40px;
    }

}

//Nossa Empresa

.pg-nossa-empresa
{
    .hd-internas
    {
        background: url("../imgs/bg-nossa-empresa.jpg") no-repeat center center;
    }
}

//Nosso Portfólio

.pg-nosso-portfolio
{
    .hd-internas
    {
        background: url("../imgs/bg-nosso-portfolio.jpg") no-repeat center center;
    }
}

.ss-albuns
{
    overflow: hidden;
    margin-bottom: 40px;

    .ss-album 
    {
        overflow: hidden;
        position: relative;
        margin: 0 0 40px;

        .ss-header 
        {
            padding: 0 0 30px;
    
        }
    }
}

.ss-galeria 
{
    margin: 0;
    padding: 0;
    overflow: hidden;

    .ss-item 
    {
        float: left;
        width: 24.65%;
        padding: 0;
        margin: 2px;
        //margin-bottom: 4px;
        list-style: none;

        img 
        {
            max-width: 100%;
        }

    }

}