.ss-slider-home
{    
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;

    .legenda 
    {
        width: 100%;
        text-align: left;
        position: absolute;
        bottom: 33%;
        left: 0;
        z-index: 20;

        @include breakpoint(max-width ($largeDesktop - 1))
        {
            bottom: 27%;
        }   
        
        @include breakpoint($allCelular)
        {
            bottom: 15%;
        }           

        @include breakpoint($smallCelular)
        {
            bottom: 25%;
        }  

        .titulo-slide 
        {
            background-color: #fff;
            background: rgba(255,255,255,0.8);
            border-left: 10px solid $colorDestaque;
            width: 650px;
            max-width: 100%;
            padding: 15px 25px;

            @include breakpoint($allCelular)
            {
                border-left-width: 6px;
                padding: 10px;
                width: 300px;
            }              
        }

        .conteudo-slide 
        {
            background-color: #fff;
            background: rgba(255,255,255,0.95);            
            padding: 10px 20px 10px 40px;
            width: 650px;
            max-width: 100%;
            margin-top: 20px;

            @include breakpoint($allCelular)
            {
                padding: 10px 15px;
                margin-top: 10px;
                width: 300px;
            }
            
            @include breakpoint($smallCelular)
            {
                display: none;
            }            
        }

        h2 
        {
            color: $colorDestaque;
            font-family: $secondaryFont;
            font-size: $fontSizeBase * 4;
            font-weight: $fontWeightSemiBold;
            line-height: 1.2em;
            margin: 0;

            @include breakpoint(max-width ($largeDesktop - 1)){
                font-size: $fontSizeBase * 3;
            } 
            
            @include breakpoint($allCelular)
            {
                font-size: $fontSizeBase * 1.8;
            }             

        }

        p 
        {
            color: $colorDestaque;
            font-family: $secondaryFont;
            font-size: $fontSizeBase * 2;
            line-height: 1.2em;
            margin: 0;

            @include breakpoint(max-width ($largeDesktop - 1)){
                font-size: $fontSizeBase * 1.5;
            }               

        }

    }

    .owl-home
    {

        .owl-item
        {
            text-align: center;
            img 
            {
                margin: 0 auto;
                max-width: 100%;
            }
        }

        .owl-nav
        {
            margin: -88px auto 0;
            position: relative;
            overflow: hidden;
            height: 30px;
            padding: 40px 0;
            z-index: 10;
            bottom: 0;

            @include breakpoint($largeDesktop)
            {
                width: 1170px;
            }   
            
            @include breakpoint($allDesktop)
            {
                width: 970px;
            } 
            
            @include breakpoint($celular)
            {
                width: 750px;
            }   
            
            @include breakpoint($allCelular)
            {
                width: 90%;
            }

        }

        .owl-next, .owl-prev 
        {
            position: absolute;
            top: 50%;
            margin-top: -15px;
            color: $colorDestaque;
        }

        .owl-next 
        {
            right: 0;
        }

        .owl-prev 
        {
            left: 0;
        }

        .owl-dots 
        {
            position: relative;
            text-align: center;
            margin: -40px auto 0;
            z-index: 9999;
            height: 40px;

            @include breakpoint($largeDesktop)
            {
                width: 1110px;
            }   
            
            @include breakpoint($allDesktop)
            {
                width: 910px;
            } 
            
            @include breakpoint($celular)
            {
                width: 690px;
            }   
            
            @include breakpoint($allCelular)
            {
                width: 70%;
                height: 25px;
                margin-top: -25px;
            }

            .owl-dot 
            {
                display: inline-block;
                zoom: 1;

                span 
                {
                    background: $colorDestaque;
                    color: $colorDestaque;
                    display: block;
                    font-size: $fontSizeBase * 1.5;
                    width: 50px;
                    height: 4px;
                    margin: 5px;
                    padding: 2px 0;
                    opacity: .7;
                    transition: opacity .2s ease;    
                }

                &.active,
                &:hover
                {
                    span 
                    {
                        opacity: 1; 
                    }
                }

            }
        }

    }

}